.content { 
    background-color: rgb(255, 232, 127);
    border: 2px solid red;
    width: 900px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}


dt {
    font-weight: bold;
    list-style: disc ;
}

nav{
    background-color: aquamarine;
    height: 200px;
}
ul{
    background-color: antiquewhite;
    width: 300px;
    margin: auto;
    
}

li {
    list-style: none;
    display: inline-flex;
    padding: 2px;
    margin: 22px;
} 